<nav class="flex items-center  justify-between flex-wrap border-b border-opacity-75 bg-white px-20 py-6">
    <div class=" flex-grow flex items-center w-full">
      <div class="text-base flex-grow">
        <a [routerLink]="['entidad']" class="cursor-pointer lg:inline-block lg:mt-0 text-black hover:text-teal-400 mr-4">
          Entidades
        </a>
        <a [routerLink]="['tipodocumento']" class="cursor-pointer lg:inline-block lg:mt-0 text-black hover:text-teal-400 mr-4">
          Documentos
        </a>
        <a [routerLink]="['tipocontribuyente']" class="cursor-pointer lg:inline-block lg:mt-0 text-black hover:text-teal-400">
          Contribuyentes
        </a>
      </div>
      <div>
        <a (click)="logout()" class="cursor-pointer inline-block text-base px-0 py-2 leading-none border rounded text-black border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-0">Logout</a>
      </div>
    </div>
  </nav>